# ignore all png and mp4 files (users can save plots and other output locally, but output files should not be uploaded to shared repository)

*.mp4
*.nc

# ignore all figure files

*.png

# ignore juypter checkpoint files
*.ipynb_checkpoints

# ignore pycache files
*.pyc
modules/__pycache__/*
## ignore slurm_out files
download/ERA5/slurm_out/*
preprocess/sensitivity_test_trajectories/slurm_out/*
preprocess/calculate_trajectories/slurm_out/*

##ignore core files
analysis/core*

*.yaml
*.yml
*.txt
